/* ---------------- Colours 

dark blue: #2F3E4F
light green: #55B99E

------------------*/

/*----------- Global settings -------------*/
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}


/*----------- Colours -------------*/
.dark-background {
    background-color: #2f3e4f;
    color: #fafafa;
}

.light-background {
    background-color: #ededed;
}

.light-green {
    color: #55B99E;
}

/*----------- Header -------------*/
.navbar {
    background-color: rgba(255,255,255,0.97);
}

.logo-image {
    width: 350px;
}

@media (min-width: 576px) {
    .navbar {
        box-shadow: 0px 2px 5px #ebeaea;
    }
}


@media (max-width: 576px) {
    .logo-image {
        width: 200px;
    }

    .navbar {
        box-shadow: 0px 4px 10px #aaaaaa;
    }
}


/*----------- Typography -------------*/

.card-text {
    font-weight: 300;
}

.script-heading {
    font-family: "Playfair Display", serif;
}

.text-light-font {
    font-weight: 300;
}


/*----------- Jumbotron Overides -------------*/
.jumbotron {
    background-color: transparent;
    background-image: url("../images/jumbotron-bg.svg");
    background-position: bottom right;
    background-repeat: no-repeat;
}



/*----------- Testimonials -------------*/
.testimonial-photo {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    border: 2px solid #2F3E4F;
    border-radius: 50%;
}

.full-height {
    display: block;
    height: 100%;
    float: left;
}

/*----------- Host Page -------------*/
.host-teaser-box {
    height: 45vh;
    background-image: url(../images/host-teaser-lg.jpg);
    padding: 20px;
    background-size: cover;
    background-position: center center;
}

.teaser-box-text {
    padding: 20px;
    background: rgba(255,255,255,0.85);
}

.host-teaser-heading {
    font-size: 3rem;
}

@media (max-width: 576px) {
    .host-teaser-box {
        height: 65vh;
    }
    .host-teaser-heading {
        font-size: 2rem;
    }
}

/*----------- Footer -------------*/
.spacing-inside {
    padding: 20px;
}